.card {
  position: relative;
  width: 350px;
  padding: 20px;
  margin: 20px;
  background: var(--clr-np300);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid transparent;
  border-top: 20px solid var(--clr-dp100);
  border-right: 20px solid var(--clr-dp100);
}

.card__icon {
  margin-bottom: 2em;
}

.card__image {
  filter: brightness(0) saturate(100%);
  height: 100px;
}

.card__content {
  position: relative;
  height: max-content;
}

@media screen and (min-width: 1200px) {
  .card__image {
    height: 100px;
  }

  .card__content {
    position: relative;
    height: 21rem;
    overflow: hidden;
  }
}

// .card__content {
//   position: relative;
//   height: 20rem;
//   overflow: hidden;
// }

// .card__content--active {
//   height: auto;
//   overflow: visible;
// }

// .card__content::before {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 100px;
//   background: linear-gradient(transparent, var(--clr-np300));
// }

// .btn-more {
//   position: relative;
//   padding: 0.75em 2em;
//   background: var(--clr-dp100);
//   margin-top: 2em;
//   display: inline-block;
//   cursor: pointer;
//   text-transform: uppercase;
//   color: var(--clr-bw100);
//   letter-spacing: 2px;
//   font-weight: 500;
// }

// .btn-more::before {
//   content: "Подробнее";
// }

// .btn-more--active::before {
//   content: "Свернуть";
// }
