.modal {
  $parent: &;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.2s;
  z-index: 1000;

  &__dialog {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 80vh;
    background-color: var(--clr-bw100);
    border-radius: 5px;
    transition: 0.2s;
    transform: translateY(-50px);

    &-header,
    &-footer {
      transition: 0.2s;
    }

    &-header,
    &-body,
    &-footer {
      padding: 2rem 0.4rem;
    }

    &-header {
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: flex-start;

      &-content {
        //flex-grow: 1;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 1.2rem;
      }
      &-close {
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 1.2rem;

        &-btn {
          margin: 0;
          padding: 0;
          background: none;
          border: 0;
          cursor: pointer;
          font-size: var(--fs48);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid var(--clr-bw900);
          position: relative;
        }
        &-btn::before {
          content: "\00d7";
          position: absolute;
          top: -6px;
          left: 10px;
        }
        &-btn:hover {
          border: 2px solid var(--clr-dp200);
        }
        &-btn:hover::before {
          color: var(--clr-dp200);
        }
      }
    }

    &-body {
      flex-grow: 1;
      overflow: auto;
    }

    &-footer {
    }
  }

  &--s &__dialog {
    width: 50vw;
  }
  &--m &__dialog {
    width: 70vw;
  }
  &--l &__dialog {
    width: 90vw;
  }

  &--sh &__dialog {
    height: 80vh;
  }

  &--active {
    visibility: visible;
    opacity: 1;

    #{$parent}__dialog {
      transform: translateY(0);
    }
  }

  &--has-scroll {
    #{$parent}__dialog-header,
    #{$parent}__dialog-footer {
      position: relative;
      z-index: 5;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    }
  }
}

.contact-us--modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0.4rem;
  align-items: center;
}
