@font-face {
  font-family: Merriweather;
  src: local(Merriweather-Bold),
    // url(/path/to/Merriweather-Bold.woff2) format("woff2"),
    // url(/path/to/Merriweather-Bold.woff) format("woff"),
    url(./assets/fonts/Merriweather-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Rubik;
  src: local(Rubik-Regular),
    // url(/path/to/Rubik-Regular.woff2) format("woff2"),
    //url(/path/to/Rubik-Regular.woff) format("woff"),
    url(./assets/fonts/Rubik-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Rubik;
  src: local(Rubik-Medium),
    // url(/path/to/Rubik-Medium.woff2) format("woff2"),
    //url(/path/to/Rubik-Medium.woff) format("woff"),
    url(./assets/fonts/Rubik-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
