@use "./font-face" as *;

/* =================
Typography
================= */

.h1 {
  font-family: var(--ff100);
  font-size: var(--fs32);
  font-weight: 700;
  margin-bottom: 3rem;
  max-width: 30ch;
}

.h2 {
  font-family: var(--ff100);
  font-size: var(--fs24);
  font-weight: 700;
  margin-bottom: 3rem;
  max-width: 40ch;
}

.h3 {
  font-family: var(--ff100);
  font-size: var(--fs20);
  font-weight: 700;
  margin-bottom: 0.7em;
  max-width: 30ch;
}

@media screen and (min-width: 768px) {
  .h1 {
    font-size: var(--fs40);
  }
  .h2 {
    font-size: var(--fs32);
  }
  .h3 {
    font-size: var(--fs20);
  }
}

@media screen and (min-width: 1200px) {
  .main__header {
    font-size: var(--fs64);
  }
}

.main__content {
  font-family: var(--ff200);
  margin-bottom: 2em;
}

.nav__link {
  font-family: var(--ff100);
  font-size: var(--fs32);
  letter-spacing: 0.7px;
}

.footer__header {
  font-family: var(--ff100);
  font-weight: 700;
}

.btn,
.btn--large {
  font-family: var(--ff100);
  font-size: 10px;
  font-weight: 700;
}

@media screen and (min-width: 640px) {
  .btn,
  .btn--large {
    font-family: var(--ff100);
    font-size: var(--fs12);
    font-weight: 700;
  }
}
