.epsilontek {
  color: var(--clr-dp100);
}

@media screen and (min-width: 768px) {
  .aboutus,
  .aboutus2,
  .aboutus3 {
    display: flex;
  }

  .aboutus2 {
    display: grid;
    grid-template-areas:
      "b a"
      "b c";
    grid-template-columns: 4fr 6fr;
  }

  .aboutus3 {
    display: grid;
    grid-template-areas:
      "a b"
      "c b";
    grid-template-columns: 6fr 4fr;
  }

  .a {
    grid-area: a;
  }

  .b {
    grid-area: b;
  }

  .c {
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .--width60 {
    width: 60%;
  }
  .--width55 {
    width: 55%;
  }

  .--width50 {
    width: 50%;
  }

  .--width45 {
    width: 45%;
  }

  .--width40 {
    width: 40%;
  }

  .--width500px {
    max-width: 600px;
  }

  // .--mw25ch {
  //   max-width: 25ch;
  // }

  // .--mw16ch {
  //   max-width: 25ch;
  // }
  // .left {
  //   width: 60%;
  //   // justify-content: space-between;
  // }
  // .right {
  //   width: 40%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   // justify-content: space-between;
  // }
}

.aboutus__image {
  border: 1px solid var(--clr-bw900);
  border-radius: 10px;
  margin-bottom: 2rem;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .aboutus__image {
    min-height: 400px;
    object-fit: cover;
    object-position: center center;
  }
}

@media screen and (min-width: 1100px) {
  .--nowrap {
    white-space: nowrap;
  }
}
