.aside {
  //visibility: hidden;
  position: fixed;
  top: 1.5625em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5.625em;
  height: 47.5em;
  margin-left: 3.75em;
  border: 2px solid #f0f0f0;
  background-color: var(--clr-bg-z-white);
  //background-color: transparent;
}

.c-nav-social__logo {
  margin-bottom: auto;
}

.c-nav-social__icon {
  margin: 3.75em auto 0;
}

.c-nav__icon-up {
  margin: 6.25em auto;
}
