.footer {
  min-height: 47.875em;
  background-color: var(--clr-bg-z-footer);
  color: var(--clr-fnt-z-ftrtext);
  padding-top: 6.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__container {
  display: flex;
  align-items: space-between;
  //justify-content: space-between;
}

.logo-wrapper,
.c-nav-footer,
.c-footer-support {
  width: 33%;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logoes {
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-bottom: 1.875em;
}

.logo-wrapper--yem,
.logo-wrapper--rss {
  display: flex;
  align-items: center;
}

.logo-wrapper--yem::after {
  content: "X";
  margin: 0 2em;
}

.c-footer-support__header {
  margin-bottom: 2.5em;
}

.c-footer-support__text {
  max-width: 21em;
  margin-bottom: 2em;
}

.c-footer-support__button {
  padding: 1.25em 4.6875em;
  white-space: nowrap;
  margin-bottom: 4em;
}

// .c-footer-support__button::first-letter {
//   text-transform: uppercase;
// }

.footer__social-links {
  display: flex;
  justify-content: space-between;
}

.footer__social-link {
  text-decoration: none;
  color: var(--clr-fnt-z-ftrtext);
}

.copyright {
  border-top: 1px solid #747474;
  display: flex;
  height: 132px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
