/* Footer */
.footer,
.copyright {
  background: var(--clr-dp200);
  color: var(--clr-bw900);
}

.footer {
  margin-top: auto;
  width: 100%;
  height: auto;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__about,
  &__contacts,
  &__links,
  &__message {
    margin-bottom: 2.5em;
    padding: 0 3ch;
  }

  &__header {
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 2px var(--clr-dp400);
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: var(--clr-bw900);
    text-shadow: 1px 1px 4px var(--clr-dp400);
  }

  &__link:hover {
    color: var(--clr-bw100);
  }
  &__phone {
    font-size: var(--fs24);
    font-family: var(--ff100);
    font-weight: 900;
    text-decoration: none;
    color: black;
    display: flex;
    margin-bottom: 1em;
    text-shadow: -3px -3px 2px var(--clr-dp100);
    white-space: nowrap;
  }

  &__phone:hover {
    text-shadow: -3px -3px 2px var(--clr-bw100);
  }

  &__number {
    white-space: nowrap;
  }
}

.mailto {
  color: var(--clr-bw900);
  font-size: var(--fs20);
  font-family: var(--ff100);
  font-weight: 900;
  text-shadow: -3px -3px 2px var(--clr-dp100);
}

.mailto:hover {
  text-shadow: -3px -3px 2px var(--clr-bw100);
}

.footer-about__content {
  margin-bottom: 1.5em;
}

.footer-contacts__email {
  margin-bottom: 1em;
}

.footer__address--nowrap {
  white-space: nowrap;
}

.footer-email__input,
.footer-email__textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid var(--clr-bw900);
  border-radius: 5px;
  padding: 0.5em;
}

.footer-email__input {
  min-height: 30px;
}
.footer-email__textarea {
  min-height: 90px;
}

.checkbox {
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}

.checkbox__label {
  font-size: var(--fs14);
  line-height: 1.4;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: var(--clr-bw100);
  border: 1px solid var(--clr-bw900);
  border-radius: 4px;
  margin: 0 10px 0px 0px;
}

.checkbox__label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: var(--clr-dp200);

  border-radius: 4px;
  transform: scale(0);
}

.checkbox__label a {
  color: var(--clr-bw900);
  text-shadow: -3px -3px 2px var(--clr-dp100);
}

.checkbox__label a:hover {
  text-shadow: -3px -3px 2px var(--clr-bw100);
}

.--error {
  box-shadow: 0 0 15px red;
}

.copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .copyright {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1.5fr;
  }
}
@media screen and (min-width: 1500px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 2fr;
  }
}
