/* Footer */
.footer,
.copyright {
  background: var(--clr-dp200);
  color: var(--clr-bw900);
}

.footer {
  margin-top: auto;
  width: 100%;
  height: auto;

  &__container {
    /* margin: 2rem auto; */
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
  }

  &__about,
  &__contacts,
  &__links,
  &__message {
    margin-bottom: 2.5em;
    padding: 0 3ch;
  }

  &__header {
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 2px var(--clr-dp400);
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: var(--clr-bw900);
    text-shadow: 1px 1px 4px var(--clr-dp400);
  }

  &__link:hover {
    color: var(--clr-bw100);
  }
  &__phone {
    font-size: var(--fs24);
    font-family: var(--ff100);
    font-weight: 900;
    text-decoration: none;
    color: black;
    /* box-shadow: -6px -3px 7px black; */
    display: block;
    margin-bottom: 1em;
    text-shadow: -3px -3px 2px var(--clr-dp100);
    /* , 5px 5px 3px var(--clr-dp100) */
  }

  &__phone:hover {
    /* box-shadow: 6px 3px 7px black; */
    text-shadow: 3px 1px 3px var(--clr-bw100);
  }

  &__number {
    white-space: nowrap;
  }
}

/* Footer */
// .footer,
// .copyright {
//   background: var(--clr-dp200);
//   color: var(--clr-bw900);
// }

// .footer {
//   margin-top: auto;
//   width: 100%;
//   height: auto;
// }

// .footer__container {
//   /* margin: 2rem auto; */
//   /* padding: 1rem; */
//   display: flex;
//   flex-direction: column;
// }

// .footer__about,
// .footer__contacts,
// .footer__links,
// .footer__message {
//   margin-bottom: 2.5em;
//   padding: 0 3ch;
// }

// .footer__header {
//   margin-bottom: 0.5em;
//   text-shadow: 1px 1px 2px var(--clr-dp400);
// }

.footer-about__content {
  margin-bottom: 1.5em;
}

// .footer__links {
//   display: flex;
//   flex-direction: column;
// }

// .footer__link {
//   color: var(--clr-bw900);
//   text-shadow: 1px 1px 4px var(--clr-dp400);
// }

// .footer__link:hover {
//   color: var(--clr-bw100);
// }

// .footer__phone {
//   font-size: var(--fs24);
//   font-family: var(--ff100);
//   font-weight: 900;
//   text-decoration: none;
//   color: black;
//   /* box-shadow: -6px -3px 7px black; */
//   display: block;
//   margin-bottom: 1em;
//   text-shadow: -3px -3px 2px var(--clr-dp100);
//   /* , 5px 5px 3px var(--clr-dp100) */
// }

// .footer__phone:hover {
//   /* box-shadow: 6px 3px 7px black; */
//   text-shadow: 3px 1px 3px var(--clr-bw100);
// }

// .phone__number {
//   white-space: nowrap;
// }

.footer-contacts__email {
  margin-bottom: 1em;
}

.mailto {
  color: var(--clr-bw900);
  font-size: var(--fs20);
  font-family: var(--ff100);

  font-weight: 900;
  /* text-shadow: 3px 1px 3px var(--clr-dp100); */
  text-shadow: -3px -3px 2px var(--clr-dp100);
}

.mailto:hover {
  /* color: var(--clr-bw100); */
  text-shadow: -3px -3px 2px var(--clr-bw100);
}

.footer__address--nowrap {
  white-space: nowrap;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
