/* Header */
.header {
  background: var(--clr-bw100);
  // border-bottom: 1px solid var(--clr-bw900);
  &__container {
    display: flex;
    align-items: center;
  }
}

.logo {
  margin-left: 1rem;
  margin-right: auto;
  animation: slideLeft 0.5s ease-in-out forwards;
}
