.header {
  display: flex;
  width: 1800px;
  margin: 1.5625em 3.75em 3.4375em;
  border: 2px solid #f0f0f0;
}

.icon__userpic {
  margin-left: auto;
  margin-right: 5.75em;
}

.c-logo {
  visibility: hidden;
  margin-left: 1.25em;
  margin-right: 1.25em;
}
