// Sass
.c-nav-social {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
  }
}
