/* Main content, Sections */

.aboutus,
.eq,
.services {
  margin-bottom: 8rem;
}

.aboutus__image {
  border: 1px solid var(--clr-bw900);
  border-radius: 10px;
  margin-bottom: 2rem;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .aboutus__image {
    min-height: 400px;
    object-fit: cover;
    object-position: center center;
  }
}
.left,
.right,
.left2,
.right2,
.services,
.equipment,
.item,
.partners,
.contacts {
  padding: 0 2rem;
}
