// Testimonials section

.testimonials__container {
  display: flex;
  align-items: space-between;
  //justify-content: space-between;
}

.testimonials__feedback {
  width: 33%;
}

.testimonials__cards {
  width: 66%;
}

.cards__container {
  display: flex;
  justify-content: flex-start;
}

.cards__card {
  max-width: 50%;
  background-color: #fff;
  color: black;
  border-radius: 15px;
  margin-right: 40px;
}

.cards__card:first-child {
  position: relative;
}

.cards__card:first-child::before {
  content: url(./assets/icons/slide_left_white.svg);
  // position: relative;
  position: absolute;
  bottom: 0px;
  top: 100%;
  left: 0px;
  right: 0px;
  color: teal;
}

.cards__card:first-child::after {
  content: url(./assets/icons/slide_right_white.svg);
  position: absolute;
  top: 100%;
  // right: 65%;
  // bottom: 50px;
  left: 20%;
}

.cards__avatar--alena-andreeva::before {
  content: url(./assets/icons/avatar_alena_andreeva.png);
}

.cards__avatar--joe-brown::before {
  content: url(./assets/icons/avatar_joe_brown.png);
}

.cards__text {
  max-width: 27rem;
}
