// Pay & feed section
.payments__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.payments__heading {
  align-self: start;
}

.payments--center,
.payments--right,
.payments--left {
  display: flex;
  align-items: center;
}

.payments--center {
  align-self: center;
}
.payments--center::before {
  content: url(./assets/icons/pay_visa.svg);
}

.payments--center::after {
  content: url(./assets/icons/dashed_line1.svg);
  position: relative;
  right: 600px;
  top: 150px;
}

.payments--right {
  align-self: flex-end;
}
.payments--right::before {
  content: url(./assets/icons/pay_zoo.svg);
}

.payments--right::after {
  content: url(./assets/icons/dashed_line2.svg);
  position: relative;
  right: 1000px;
  top: 100px;
}

.payments--left {
  align-self: start;
}

.payments--left::before {
  content: url(./assets/icons/pay_treat.svg);
}

// .payments__body {

// }

.payments__header {
  max-width: 13em;
}

.payments__text {
  max-width: 25em;
}
